- name: Clone Nerd Fonts
  ansible.builtin.git:
    repo: https://github.com/ryanoasis/nerd-fonts.git
    dest: "/tmp/nerd-fonts"
    depth: 1

- name: Install fonts
  ansible.builtin.shell: ./install.sh
  chdir: chdir=/tmp/nerd-fonts

- name: Update fonts cache
  ansible.builtin.shell: fc-cache -v
